- link_styles = 'display: block; text-decoration: none; padding: 5px; background-color: #ffffff; color: rgb(54,154,207); border: 1px solid #cccccc; text-align: center; border-radius: 12px; line-height: 2; width: 100px;'

- small_link_styles = 'display: block; text-decoration: none; padding: 3px; background-color: #ffffff; color: rgb(54,154,207); border: 1px solid #cccccc; text-align: center; font-weight: 300; border-radius: 6px; line-height: 1; width: 75px;'

%table{style: "width: 100%; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;"}
  %tr
    %td{style: 'padding: 5px;'}
      %p
        ="Hello #{@notification.user.first_name},"
      %p
        - name = @notification.notifier.name
        - title = @tip.title
        = t('notifications.shared.tip.body_html', name: name)
  %tr
    %td
      %table{style: "width: 300px; height: 300px; margin: auto; border: 1px solid #cccccc;font-weight: 300; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;"}
        %tr
          %td{style: 'vertical-align: top;padding: 5px;'}
            -@hive_titles.each do |hive_title|
              %div
                In
                =link_to hive_title, '#', style: 'color: #369acf; text-decoration:none;'
            %div
              %h3{style: 'font-weight: 300;font-size: 24px;'}
                =title
        %tr
          %td{style: 'height: 100%;'}
            %p
              - link_url = strip_version(v2_tip_url(@tip, host: @domain.host_url, protocol: 'https'))
              = link_to t('notifications.shared.tip.view_tip'), link_url, style: link_styles + 'width: 200px; margin: 0 auto;'
