.col-md-6.col-md-offset-3
  .panel.panel-default
    .panel-body
      %p Hi,
      %p
        A #{@flag.flaggable_type} has been flagged by #{@flagger.name} .
        %br
        Visit Friyay to view this tip.
