<p>Thanks for joining Friyay!</p>

<p>
  Click
  <%= link_to 'here', "#{ENV['FRONTEND_URL']}/#/confirm?confirmation_token=#{@token}"%>
  to verify your email address. Please confirm within 1 day of signing up.
</p>
